<div style="font-family: Arial, sans-serif; width: 250px;">
    <h3 style="margin: 0; color: #2c3e50;"><b>Bangkok</b></h3>
    <hr style="margin: 5px 0;">
    <h4 style="margin: 5px 0; color: #34495e;">Suvarnabhumi Airport (BKK)</h4>
    <p style="margin: 5px 0; font-size: 12px;">
        <b>IATA Code:</b> BKK<br>
        <b>ICAO Code:</b> VTBS<br>
        <b>Location:</b> Racha Thewa, Bang Phli District<br>
        <b>Elevation:</b> 5 ft (1.5 m)<br>
        <b>Opened:</b> September 28, 2006<br>
        <b>Hub for:</b> Thai Airways, Bangkok Airways<br>
        <b>Passengers/year:</b> ~65 million (pre-2020)<br>
        <b>Runways:</b> 2 (3,700m and 4,000m)
    </p>
</div>
